@font-face {
    font-family: "LatoBold"; 
    src: url(assets/Lato-Bold.ttf); 
   }
@font-face {
    font-family: "LatoBlack"; 
    src: url(assets/Lato-Black.ttf); 
   }
   @font-face {
    font-family: "LatoLight"; 
    src: url(assets/Lato-Light.ttf); 
   }
   @font-face {
    font-family: "LatoMedium"; 
    src: url(assets/Lato-Medium.ttf);
   }