 @font-face {
    font-family: "Lato"; 
    src: url(assets/Lato-Bold.ttf); 
    font-weight: 700;
   }
@font-face {
    font-family: "Lato"; 
    src: url(assets/Lato-Black.ttf); 
    font-weight: 900;
   }
 @font-face {
    font-family: "Lato"; 
    src: url(assets/Lato-Light.ttf); 
    font-weight: 300;
   }
 @font-face {
    font-family: "Lato";
    src: url(assets/Lato-Medium.ttf);
    font-weight: 400;
   }
  /*--grid---*/
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .container {
    margin: 0 auto;
    -moz-width: 100%;
    -webkit-width: 100%;
    width: 100%;
  }
  .container .cols {
    margin: 0 0 0.7em;
    padding: 0 0.4em;
    text-align: center;
    -moz-float: left;
    -webkit-float: left;
    float: left;
  }  
 .container .cols.col_1_in_4 {
     -moz-width: 25%;
     -webkit-width: 25%;
     width: 25%;
 }
 .container .cols.col_1_in_3, .container .col_4_in_12 {
     -moz-width: 33.333333333%;
     -webkit-width: 33.333333333%;
     width: 33.333333333%;
 }
 .container .col_8_in_12 {
     -moz-width: 66.666666667%;
     -webkit-width: 66.666666667%;
     width: 66.666666667%;
 }
  .container::before, .container::after, .row::before, .row::after, .clear::before, .clear::after {
   -moz-content: " ";
   -moz-display: table;
   -webkit-content: " ";
   -webkit-display: table;
   content: " ";
   display: table;
 }
 .container::after,
 .row::after,
 .clear::after {
   -moz-clear: both;
   -webkit-clear: both;
   clear: both;
 }
.row {
   margin-left: -10px;
   margin-right: -10px; 
}